.container {
	width: 400px;
	height: 400px;
	margin: 0px auto;
}

.calendarBox {
	width: 80%;
	min-height: 75%;
	border: 4px solid #336699;
	margin: 0px auto;
	margin-top: 10%;
}

.headerHolder {
	text-align: center;
}

.calendarHeader,
.dayHeader {
	display: inline-block;
	width: 80%;
	margin: 0px auto;
	margin-top: 10%;
	border: 1px solid black;
	text-align: center;

}

.calendarHeader {
	background: #003366;
	font-family: 'avenir';
	color: white;
}

.dayHeader {
	border: none;
	display: block;
	width: 80%;
	margin-bottom: 10%;
}

.dayBoxTop {
	width: 13.5%;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	margin: -3px;
	background-color: #FFCC66;
	border-color: white;
	color: black;
	font-family: 'avenir'

}

.dayHolder {
	width: 80%;
	height: 60%;
	margin: 0px auto;

}

.dayBox,
.blankBox {
	display: inline-block;
	width: 13%;
	height: 16%;
	border: 1px solid white;
	margin: 0px auto;
	text-align: center;
}

.dayBox {
	background-color: #336699;
	color: white;
	font-family: 'avenir'
}

.blankBox {
	border: none;
	width: 13.8%;
}

#arrowRight {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 7.5px 0 7.5px 13.0px;
	border-color: transparent transparent transparent #007bff;
	display: inline-block;
}

#arrowLeft {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 7.5px 13.0px 7.5px 0;
	border-color: transparent #007bff transparent transparent;
	display: inline-block;
}

footer {
	text-align: center;
	font-family: 'avenir';
}

a,
a:active {
	color: black;
}


